@import "tailwindcss";

@theme {
  --color-rich-black: oklch(9.618% 0.0562 285.061);
  --color-russian-violet: oklch(16.872% 0.07813 292.572);
  --color-rebecca-purple: oklch(42.208% 0.17403 290.528);

  --font-title: Orbitron, sans-serif;
}

@layer base {
  ::selection {
    background-color: color-mix(
      in oklab,
      var(--color-indigo-600) 40%,
      transparent
    );
    color: var(--color-neutral-100);
  }

  ::-webkit-scrollbar {
    width: calc(var(--spacing) * 3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-violet-400);
    border-radius: var(--radius-md);
    border: 4px solid var(--color-rich-black);
  }

  strong {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    color: var(--color-violet-300);
  }

  label {
    display: block;
    margin-bottom: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    font-weight: var(--font-weight-medium);
  }

  input,
  textarea {
    width: 100%;
    resize: none;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-rebecca-purple);
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 2);
    font-size: var(--text-lg);
    color: var(--color-indigo-200);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }

  @supports (color: color-mix(in lab, red, red)) {
    input,
    textarea {
      background-color: color-mix(
        in oklab,
        var(--color-russian-violet) 60%,
        transparent
      );
    }
  }

  @supports (color: color-mix(in lab, red, red)) {
    :is(input, textarea)::placeholder {
      color: color-mix(in oklab, var(--color-indigo-200) 40%, transparent);
    }
  }

  :is(input, textarea):focus {
    --tw-ring-shadow:var(--tw-ring-inset,)0 0 0 calc(2px + var(--tw-ring-offset-width))var(--tw-ring-color,currentcolor);
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: var(--color-rebecca-purple);
    --tw-outline-style: none;
    outline-style: none;
  }

  @media (forced-colors: active) {
    :is(input, textarea):focus {
      outline-offset: 2px;
      outline: 2px solid #0000;
    }
  }

  video {
    pointer-events: none;
    position: absolute;
    inset: calc(var(--spacing) * 0);
    z-index: calc(10 * -1);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer components {
  .counter {
    position: absolute;
    right: calc(var(--spacing) * 3);
    bottom: calc(var(--spacing) * 3);
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    color: var(--color-indigo-200);
  }

  .profile-img {
    shape-outside: circle(50%);
    clip-path: circle(50%);
    margin-right: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 0);
    float: left;
  }

  .card {
    border-radius: var(--radius-3xl);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-rebecca-purple);
    background-color: color-mix(
      in oklab,
      var(--color-russian-violet) 60%,
      transparent
    );
  }

  .btn {
    transform: var(--tw-rotate-x) var(--tw-rotate-y) var(--tw-rotate-z)
      var(--tw-skew-x) var(--tw-skew-y);
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    border-radius: var(--radius-md);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-rebecca-purple);
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
    color: var(--color-indigo-200);
    transition-property: all;
    transition-timing-function: var(
      --tw-ease,
      var(--default-transition-timing-function)
    );
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    box-shadow:
      0 4px 6px -1px #40008080,
      0 2px 4px -1px #40008080;

    &:hover {
      --tw-translate-y: calc(var(--spacing) * 1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
      background-color: color-mix(
        in oklab,
        var(--color-indigo-900) 40%,
        transparent
      );
      box-shadow:
        inset 0 4px 6px -1px #40008080,
        inset 0 2px 4px -1px #40008080;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      --tw-shadow: 0 0 #0000;
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }
}
